/* This is a .css file for ResLife */
<style>

	body {
		font-family: sans-serif;
		font-size: 16px;}

	#container {
		width:100%;}

	#header {
		text-align:center;}

	#menu {
		height:100%;
		width:30%;
		float:left;}

	#content {
		height:100%;
		width:70%;
		float:left;}

	#footer {
		clear:both;
		text-align:center;}

	#login {
		position:fixed;
		top:10px;
		right:30px;
		text-align:left;}

	#menu2 {
		height:100%;
		width:20%;
		float:left;}

	#top_left {
		height:60%;
		width:30%;
		float:left;}

	#top_right {
		height:60%;
		width:50%;
		float:left;}

	#bottom_left {
		height:40%;
		width:30%;
		float:left;}

	#bottom_right {
		height:40%;
		width:50%;
		float:left;}

	#susan {
		width:180px;
	  background-color:#FFFFCC;
		padding-left:10px;
		padding-top:1px;
		margin-left:30px;
		margin-right:10px;
		margin-bottom:10px;}

	#res {
		width:180px;
	  background-color:#CC6666;
		padding-left:50px;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:50px;
		margin-right:10px;
		margin-bottom:10px;}

	#fraternity {
		width:180px;
	  background-color:#9999FF;
		padding-left:50px;
		padding-top:1px;
		margin-left:50px;
		margin-right:10px;
		margin-bottom:10px;}

	#jackson {
		width:180px;
	  background-color:#99CCFF;
		padding-left:50px;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:50px;
		margin-right:10px;
		margin-bottom:10px;}

	#southside {
		width:180px;
	  background-color:#CCFFCC;
		padding-left:50px;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:50px;
		margin-right:10px;}

	#riverview {
		width:180px;
	  background-color:#FFCCFF;
		padding-left:50px;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:50px;
		margin-right:10px;
		margin-bottom:10px;}

	#hill {
		width:180px;
	  background-color:#669966;
		padding-left:50px;
		padding-top:1px;
		padding-bottom:1px;
		margin-left:50px;
		margin-right:10px;
		margin-bottom:10px;}

	#roombox {
		color:#00CC00;}

	.instbox, #instbox1, #instbox2 {
		color:#0000FF;
		text-align:left;
		border-width:thin;}

  #susan2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#res2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#fraternity2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#jackson2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#southside2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#riverview2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#hill2 {
		width:200px;
		line-height:120%;
		margin-left:10px;}

	#primary {
		clear:both;
		width:300px;
		text-align:left;
		margin-left:20px;
		float:left;}

	#secondary {
		width:300px;
		text-align:left;
		margin-left:20px;
		float:left;}

	#submit {
		clear:both;
		width:100%;
		text-align:center;}

	.floater {
		float:left;}

	#roommates {
		margin-right: 50px;}

	#roommates input {
		margin-bottom:25px;}

	#students {
		border: 1px solid #000000;
		height: 110px;
		list-style-type: none;
		padding-left:5px;
		width:210px;}

	ui-droppable {
		list-style-type: none;}

	#floor, #sign {
		float:right;}

	#radio, #sign {
		height:40%;
		width:50%;}

	#radio label, #sign label {
		display:block;
		margin-bottom:20px;
		margin-right:50px;}

	table, tr {
		border:1px solid black;}

	td {
		font-family: sans-serif;
		font-size: 20px;
		text-align:center;}

	h1 {
		font-family: sans-serif;
	 	font-size: 32px;
	 	color: #000000;}

	h2 {
		font-family: sans-serif;
		font-size: 20px;}

	h3 {
		font-family: sans-serif;
		font-size: 18px;}

	ul {
		font-family: sans-serif;
		font-size: 16px;}

	a:link {
		color: #0000FF;}
	a:visited {
		color: #990000;}
	a:hover {
		color: #0000FF;}

</style>
